body {
  text-align: center;
}

.container {
  margin-left: 390px;
}

table {
  width: 30em;
  height: 30em;
}

table td{
  border: 1px solid black;
}

td {
  padding: 0;
  width: 33.3%;
  height: 33.3%;
  background-color: lightgrey;
  border-radius: 10px;
}

td, th {
  display: table-cell;
  vertical-align: inhereit;
}